* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
    
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;

    max-width: 800px;
    margin: 1em auto;
    
    border: 2px solid black;
}

.header, .footer {
    flex: 0 0 auto;
    /* background-color: #0f1120; */
    background-color: #3a3a3a;

}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    box-shadow: #0C9;

}

/* Title */

.title, .logo {
    padding: .5em .5em .5em 1em;
}

.logo {
    max-width: 25%;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: .2em .2em .2em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #0C9;
}

.title p {
    font-style: italic;
}
/* Nav */
.nav a {
    color: #0C9;
    text-decoration: none;
}

.nav a:hover{
    border-bottom: 4px solid #0C9;
}


/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;

    padding: 1rem 1rem;
}

.footer a {
    color: #0C9;
}

.footer p {
    color: #0C9;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}
