
.landingpage {
    display: grid;
    gap: 1rem 2rem;
    text-align: center;

    h1 {
        grid-column: span 3;
        justify-self: center;
    }

    a {
        color: $link-color;
        text-decoration: none;

    }
    
    a:hover {
        color: $link-color-hover;
        border-bottom: 2px solid $link-color-hover;
    }

    .tech-box {
        border: 1px solid #ccc;
        padding: 1rem;
    }

    .span-2 {
        grid-column: span 2;
    }
    
    .span-3 {
        grid-column: span 3;
    }
}

.analysis-content{
    a {
        color: $link-color;
    }

    a:hover {
        color: $link-color-hover;
    }
}


@media (max-width: 767px)  {
    .landingpage {
        display: grid;
        grid-template-columns: 1fr;
        
        .tech-box, h1 {
            grid-column: span 1;
        }
    }
    
    .menu {
        display: none;
    }
}