
.landingpage {
    display: grid;
    gap: 1rem 2rem;

    h1 {
        grid-column: span 3;
        justify-self: center;
    }

    a {
        color: $green-text;
        text-decoration: none;

    }
    
    a:hover {
        color: $green-hover;
        border-bottom: 2px solid $green-hover;
    }

    .tech-box {
        border: 1px solid #ccc;
        padding: 1rem;
    }

    .span-2 {
        grid-column: span 2;
    }
    
    .span-3 {
        grid-column: span 3;
    }
}

.single-technology {
    display: flex;
    flex-direction: row;   
}

.single-technology .menu {
    padding: 1rem;
    
    a {
        text-decoration: none;
        
    }
    
    a:hover{
        color: $green-hover;
        border-bottom: 2px solid $green-hover;
    }
}

.single-technology .tech-content {
    h1 {
        color: $green-text;
    }    
}

@media (max-width: 767px)  {
    .landingpage {
        display: grid;
        grid-template-columns: 1fr;
        
        .tech-box, h1 {
            grid-column: span 1;
        }
    }
    
    .menu {
        display: none;
    }
}