$sans-serif: 'Nunito', sans-serif;
$serif: 'Zilla Slab', serif;

$headlines-color: #000;
$text-color: #313131;

// $link-color: #0C9;
$link-color: #000;
$link-color-hover: #979797;

$black: #0000;
$white: #ffff;

$border-color: #f9f9f9;

$foreground-color: #fbfbfb;
$background-color: #f4f4f4;