$sans-serif: 'Nunito', sans-serif;
$serif: 'Zilla Slab', serif;


$headlines-color: #ffff;
$text-color: #e2e1e1;

$link-color: #0C9;
$link-color-hover: #3eeabf;

$black: #0000;
$white: #ffff;

$border-color: #222;

$foreground-color: #3a3a3a;
$background-color: #202020;